table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    direction: rtl;
  }
td,
th {
    
    
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {


    background-color: #dddddd;
}
.btn {
    margin-bottom: 5px;
  margin-left:800px;
    box-sizing: border-box;
    background-color: rgb(112, 248, 248);
    direction: rtl;
    color: black;
 
}
.error{
color: red;
font-style: italic;
}

.delete{
 
    box-sizing: border-box;
 //   background-color: rgb(252, 144, 136);
    direction: rtl;
    border-radius: 50%;
    border-color:rgb(243, 152, 152) ;
    padding: 10px;
}
.edit{
 
    box-sizing: border-box;
  //  background-color: rgb(248, 212, 145);
    direction: rtl;
    border-radius: 50%;
    border-color:rgb(181, 244, 207) ;
    padding: 10px;
}
.submit{
 
    box-sizing: border-box;
  //  background-color: rgb(173, 206, 178);
    direction: rtl;
    border-radius: 50%;
    border-color:rgb(181, 228, 244) ;
    padding: 10px;
}
.cancel{
 
    box-sizing: border-box;
  //  background-color: rgb(152, 214, 247);
  border-radius: 50%;
    direction: rtl;
    border-color:rgb(243, 152, 152) ;
    padding: 10px;
}
.header{
    padding:20px ;
    text-align: center;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid gray;
    border-radius: 50%;
    margin: 15px;
    padding: 5px;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  .button2 {
    background-color: white; 
    border-radius: 50%;
    color: black; 
    border: 2px solid gray;
    margin: 15px;
    padding: 5px;
  }
  
  .button2:hover {
    background-color: red;
    color: white
  }